.header-wrapper {
  display: flex;
  padding: 4rem 6.125rem 0 4.15rem;
  flex-direction: row;
}

.weather-info {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin-left: 1rem;
}

.grey-text {
  font-size: 3rem;
  color: #a8aabd;
  justify-content: space-between;
  display: flex;
}

.white-text {
  font-size: 15.3rem;
  color: white;
  align-self: center;
}

.data-wrapper {
  display: flex;
  margin-left: 2rem;
}

.date-text {
  color: white;
  font-size: 6rem;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.date-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
}

@media screen and (max-width: 800px) {
  .header-wrapper {
    padding: 1rem 1rem 0 1rem;
  }

  .weather-info {
    width: 10rem;
    margin-left: 1rem;
  }

  .grey-text > span {
    font-size: 1rem;
  }

  .grey-text {
    font-size: 1rem;
  }

  .date-wrapper {
    margin-left: 1rem;
  }

  .white-text {
    font-size: 3rem;
  }

  .data-wrapper {
    flex-direction: column;
  }

  .date-text {
    font-size: 2rem;
  }
}
