.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.failed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
  font-size: x-large;
}